{%extends 'emplogin.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {%block content%}
  <form action="#" method="post">
    <div class="center-container" style="padding-left: 20px;">
      <div class="client">
        <label for="roomnum" style="padding-left: 80px">{{ form.roomnum.label }}</label><br>
        <div style="padding-left: 0.8cm;">
          {{form.roomnum}}
        </div>
      </div>
      <div class="client">
        <label for="price" style="padding-left: 70px">{{ form.price.label }}</label><br>
        <input type="text" id="price" name="price" placeholder="{{ form.price.render_kw.placeholder }}" required>
      </div>
      <div class="client">
        <label for="extendable" style="padding-left: 60px">{{ form.extendable.label }}</label><br>
        <div style="padding-left: 1.9cm;">
          {{form.extendable}}
        </div>
      </div>
      <div class="client">
        <label for="lname" style="padding-left: 57px">{{form.capacity.label}}</label><br>
        <div style="padding-left: 1.2cm;">
          {{form.capacity}}
        </div>
      </div> 
      <div class="client">
        <label for="seaview" style="padding-left: 75px">{{form.seaview.label}}</label><br>
        <div style="padding-left: 0.8cm;">
          {{form.seaview}}
        </div>
      </div>     
    </div>
    <br>
    <div class="sectiontext">
      <div class="center-container" style="padding-left: 20px;display: block;margin-bottom: 10px;">
        <h5>Amenities</h5>
        <label for="TV">TV</label>
        <input type="checkbox" name="TV" id="TV" value="True"><br>
        <label for="AC">AC</label>
        <input type="checkbox" name="AC" id="AC" value="True"><br>
        <label for="Fridge">Fridge</label>
        <input type="checkbox" name="Fridge" id="Fridge" value="True"><br>
        <label for="Balcony">Balcony</label>
        <input type="checkbox" name="Balcony" id="Balcony" value="True"><br>
      </div>        
    </div>
    <br><br>
      <div class="center-container" style="margin-bottom: 2cm">
        {{form.update}}
      </div>
  </form>
  {%endblock%}
</body>
</html>