{%extends 'emplogin.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {%block content%}
  <div class="center-container">
    <h2>What do you want to do with the rooms?</h2>
  </div>
  <form action="#" method="post">
    <div class="container">
      <div class="thankyou-container">
        {{form.del_upd}}
      </div>
      <div class="thankyou-container">
        {{form.insert}}
      </div>
    </div>
  </form>
  <form action="#" method="post">
    <div class="center-container" style="margin-bottom: 8cm;">
      {{form.backbtn}}
    </div>
  </form>
  {%endblock%}
</body>
</html>